body {
	font-family: Futura;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.h1, h1 {
 padding-top: 73px;
 padding-bottom: 0px;
 text-shadow: 1px 1px 1px white;
 font-size: 65px;
}

.h2, h2 {
 	padding-top: 60px;
	text-shadow: 1px 1px 1px white;
	font-size: 65px;
	color: white;
}

.container {
	text-align: center;
}
.container3{
  text-align: center;
}
.editcontainer {
	text-align: center;
	padding-top: 42px;
}

#bg-container2 {
  background: url(images/test4.jpg) no-repeat;
  background-size: cover;
  width: 110%;
  height: 100%;
  position: fixed;
	left: -2em;
}

#bg-card{
	background: url(images/test2.jpg) no-repeat;
	background-size: cover;
	width: 110%;
	height: 200%;
	position: relative;;
	left: -4em;
}


.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listcard {
	 opacity: 0.7;
   width: 400px;
   margin: 5% auto;
   box-shadow: 0 1px 30px rgba(0,0,0,.4);
   background-color: #fff;
   border-radius: 4px;
   transition: 400ms ease;
   margin-bottom: 20px;
}


.card-data {
   position: relative;
   left: -15px;
	 top: -4em;
	 padding: 59px 35px 5px 25px;
   border-radius: 0px 0px 4px 4px;
   font-size: 15px;
}

.card-listname{
	position: relative;
	top: 0em;
	left: -1em;
	font-size: 20px;
	padding: 59px 35px 5px 25px;
}

#bg-container {
  background: url(images/background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
}

.box {
	margin: auto;
	position: relative;
	top: 60px;
	height: auto;
	min-height: 400px;
	width: 575px;
	background-color: white;
	opacity: 0.7;
	border-radius: 5px;

}

.box h1 {
	position: relative;
	font-size: 40px;
  width: 12em;
  left: -2em;
	padding: 40px 0 0 177px;

}

.name {
  position: relative;
  width: 240px;
  left: 16em;
}

.email {
  position: relative;
  width: 240px;
  top: 3em;
  left: 21em;
}

.password {
  position: relative;
  width: 240px;
  top: 8em;
  left: -92px;
}

#lable1 {
	position: relative;
  top: 2px;
  left: 3em;
}

#label2 {
  position: relative;
  left: -254px;
  top: 3em;
}
#label3 {
  position: relative;
  top: 85px;
  left: -199px;
}

#label4 {
	position: relative;
  top: 2em;
  left: 6em;
}

#label5 {
  position: relative;
  top: 85px;
  left: -200px;
}

.email1 {
	position: relative;
	width: 240px;
	top: 3em;
	left: 18em;
}

.password1 {
	position: relative;
	width: 240px;
	top: 4em;
	left: 247px;
}

.loginbutton2{
	position: relative;
	top: 6em;
  left: -2em;
}

.icon {
	position: relative;
  top: -76px;
  left: 3em;
  width: 7%;
}

.ghost-button {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #505050;
	font-size: 25px;
  border: 1px solid #fff;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
}

.signbutton {
  position: relative;
	left: 2em;
  top: 5em;
}

.ghost-button:hover,
.ghost-button:active {
  background-color: #F2F5A9;
  color: #000;
}

.loginbutton {
  position: relative;
	top: 87px;
  left: 13em;
}


.hide{
	display:none;
}

.show{
	display:block;
}

#listname {

	position: relative;
  top: 103px;
  font-size: 46px;
  color: white;
}

.listadd {
	position: relative;
	top: 92px;
	left: 1em;
	height: 45px;
}

.addlist {

	position: relative;
	width: 123px;
	font-size: 29px;
	top: 103px;
	left: 1em;
	height: 51px;
}

#brought {
	position: relative;
	top: -31px;
	left: 41em;
	width: 8%;
	height: 38px;
	font-size: 20px;
}

.additem {
	position: relative;
	top: -63px;
	left: 24em;
	width: 99px;
	height: 44px;
	font-size: 20px;
}

.item-img img {
    width: 17%;
}

#update {
	position: relative;
	left: -6em;
	top: -5em;
  width: 33%;
}

#delete {
	position: relative;
	top: -34px;
	left: 4em;
	width: 33%;
}

#itemname{
  position: relative;
	left: -11em;
	font-size: 20px;
}

#inputitemname{
	position: relative;
	left: -14em;
}

#quantity{
	position: relative;
	left: -8em;
	font-size: 20px;
}

.quantity{
	position: relative;
  left: -11em;
}

#broughtlabel {
	position: relative;
	left:-6em;
	font-size: 20px
}


.showitems {
  display: inline-block;
}

.showitems1 {
	position: relative;
  display: inline-block;
  padding-left: 20px;
  left: -2em;
	font-size: 29px;
}

.donebutton {
	position: relative;
	top: -29px;
	left: 24em;
	width: 98px;
	height: 45px;
	font-size: 20px;
}

#brought1{
	position: relative;
	top: -31px;
	left: 575px;
	width: 14%;
	height: 38px;
	font-size: 20px;
}

.addicon {
	position: relative;
	display: inline-block;
	top: -78px;
  left: 30em;
	cursor: pointer;
	border: 10px solid transparent;
	background-color: #FFFFFF;
}

.updateicon{
	position: relative;
	display: inline-block;
	top: -70px;
  left: 30em;
	cursor: pointer;
	border: 10px solid transparent;
	background-color: #FFFFFF;
}

.deleteicon{
	position: relative;
	display: inline-block;
	top: -25px;
	left: 38em;
	cursor: pointer;
	border: 10px solid transparent;
	background-color: #FFFFFF;
}

#minus {
	  width: 72%;
}

.addcontainer {
	padding-top: 72px;
  position: relative;
  left: 5em;
}

.formedit {
  height: 0px;

}

.signup {
	height: 66px;
}

.nodata {
	text-align: center;
  top: 3em;
  left: 12em;
  position: relative;
  font-size: 30px;
}

.addimg {
	width: 90%
}
