<html>
	<head>
		<meta charset="utf-8">
		<title>ShopMate</title>
		<link rel="stylesheet" href="./css/styles.css">
	</head>

<body>
<div id="bg-container">
		<div class="box">
			<h1>Welcome to ShopMate</h1><img class="icon"src ="https://wooddesignes.com/wp-content/uploads/2015/03/shoppingcart.png">
      <label for="name">Name:</label>
			<input type="text" class="name" name="name">
      <label id="label2"for="email">Email:</label>
      <input type="text" class="email" name="emal">
      <label id="label3"for="password">Password:</label>
      <input type="text" class="password" name="password">
		</div>
</div>  
</body>
</html>
