<html>
	<head>
		<%- include ../partials/head %>
	</head>
	<body>
		<div id="bg-container">
				<div class="box">

		 				<form  action="/users" method="post">

							<div class="box-text">
								<h1>Welcome to ShopMate</h1><img class="icon"src ="https://wooddesignes.com/wp-content/uploads/2015/03/shoppingcart.png">
        			 	<label class ="name" for="name">Name:</label>
			  			 	<input type="text"  name="name" required>
						 	</div>

							<div class="box-text">
        			 	<label class="email" for="email">Email:</label>
        			 	<input type="text" name="email" required>
						  </div>

							<div class="box-text">
        			 	<label class="password" for="password">Password:</label>
        			 	<input type="password"  name="password" required>
							</div>

							<div class="box-text">
        		  	<input class="ghost-button signup" type="submit" value="Sign Up">
							</div>

     			</form>

    			<form  action="/users/login" method="get">
						<div class="box-text">
      				<input class="ghost-button" type="submit" value="Already a user?">
						</div>
    		  </form>
			</div> <!-- box -->
		</div> <!-- bg-container -->
	  <%- include ../partials/footer %>
	</body>
</html>
