<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>
    <header>

      <%- include ../partials/nav %>
      <form method="post" action="/users/logout?_method=DELETE">
        <button class="btn btn-default logout">logout</button>
      </form>
    </header>

    <div class="container">
      <form class="signup" action="/lists/new" method="post">
           <label id ="listname" for="listname">List Name:</label>
           <input type="text" class="listadd" name="listname">
         <input class="ghost-button addlist" type="submit" value="Add List">
      </form>

    </div><!-- /.container -->
    <%- include ../partials/footer %>
  </body>
</html>
