<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ../partials/head %>
  </head>

  <body>
    <header>

      <%- include ../partials/nav %>
      <form method="post" action="logout?_method=DELETE">
        <button class="btn btn-default logout">logout</button>
      </form>
    </header>

    <div class="container">
     <form>
      <div class="starter-template">
        <h1>ShopMate - Your Personal shopping list organizer</h1>
        <% if (userName) {%>
          <h3>Welcome <%= userName %></h3>
        <% } %>
      </div>
    </form>

    </div><!-- /.container -->


    <%- include ../partials/footer %>
  </body>
</html>
